.weatherMapBox {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 5px;
  gap: 5px;
  color: rgb(69, 74, 100);
  position: relative;
}
.weatherMapBox .weather {
  background-color: #deeaff;
  width: 60%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.weatherMapBox .map {
  width: 40%;
  height: 85vh;
  position: sticky;
  top: 0;
  right: 0;
  border-radius: 10px;
  overflow: hidden;
}
.weatherMapBox .map .leaflet-container {
  width: 100%;
  height: 100%;
}
.weatherMapBox .weather .date {
  font-size: 16px;
}
.weatherMapBox .weather .LocationName {
  font-size: 25px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 0px;
  color: rgba(3, 3, 173, 0.605);
}
.weatherMapBox .weather .LocationName h1 {
  font-size: 35px;
  font-weight: 900;
}
.weatherMapBox .weather .savePanel {
  margin-top: -10px;
}

.weatherMapBox .weather .data {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
}
.weatherMapBox .weather .data .mid {
  position: relative;
  display: flex;
  gap: 10px;
  font-size: 25px;
  color: rgba(0, 0, 255, 0.605);
  align-items: center;
}
.weatherMapBox .weather .data .mid h1 {
  font-size: 100px;
  font-weight: 400;
  color: rgb(69, 74, 100) !important;
}
.condition {
  text-transform: capitalize;
  /* background-color: red; */
  color: rgba(0, 0, 255, 0.605);
  font-size: 30px;
  font-weight: 500;
}
.weatherMapBox .weather .data .left {
  width: 150px;
  background: rgba(2, 25, 139, 0.143);
  box-shadow: 0 8px 32px 0 rgba(1, 18, 255, 0.112);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.weatherMapBox .weather .data .left img {
  width: 100%;
  display: flex;
}
.weatherMapBox .weather .data .right {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-evenly;

  background: rgba(2, 25, 139, 0.143);
  box-shadow: 0 8px 32px 0 rgba(1, 18, 255, 0.112);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
}

.weatherMapBox .weather .data .right .dataRow {
  display: flex;
  align-items: center;
  gap: 5px;
}
.weatherMapBox .weather .highlow {
  display: flex;
  gap: 20px;
}
.weatherMapBox .weather .highlow .high {
  display: flex;
  align-items: center;
  gap: 5px;
}
.weatherMapBox .weather .lineChartBox {
  width: 100%;
  height: 150px;
  margin-top: -15px;
}
.forecastTitle {
  width: 100%;
  margin-top: 30px;
}
.forecastBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.forecastCard {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  flex-grow: 1;

  background: rgba(2, 25, 139, 0.143);
  box-shadow: 0 8px 32px 0 rgba(1, 18, 255, 0.112);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.forecastCard img {
  width: 50px;
}
.myLocation {
  background-color: rgb(83, 118, 255);
  color: white;
  position: absolute;
  z-index: 1111;
  bottom: 20px;
  right: 0;
  left: 0;
  width: 100%;
  min-width: 170px;
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  user-select: none;
}
.myLocation:hover {
  scale: 1.02;
}
.myLocation span:first-child {
  display: flex;
}
.mapToggler {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1111;
  background-color: rgb(83, 118, 255);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  user-select: none;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
}
.mapToggler span:first-child {
  display: flex;
}
.mapToggler:hover {
  scale: 1.02;
}
.NotData {
  margin: auto;
}
.NotData h1,
p {
  text-align: center;
}
.NotData p {
  margin-top: 10px;
}
@media screen and (max-width: 970px) {
  .weatherMapBox .weather .data {
    gap: 20px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 910px) {
  .weatherMapBox .weather .data .left {
    background-color: transparent;
  }
  .weatherMapBox .weather .data .right {
    width: 100%;
    /* background-color: transparent; */
    align-items: center;
  }
  .weatherMapBox .weather .data .mid {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .weatherMapBox .weather .highlow {
    display: flex;
    gap: 20px;

    background: rgba(2, 25, 139, 0.143);
    box-shadow: 0 8px 32px 0 rgba(1, 18, 255, 0.112);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
  }
}
@media screen and (max-width: 750px) {
  .weatherMapBox {
    position: relative;
  }
  .weatherMapBox .weather {
    width: 100vw;
  }
  .weatherMapBox .map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .weatherMapBox .map .leaflet-container {
    width: 100%;
    height: 100%;
  }
  .weatherMapBox .weather {
    padding-bottom: 100px;
  }
  /* .myLocation {
    bottom: 100px;
  } */
}
@media screen and (max-width: 600px) {
  .mapToggler {
    border-radius: 50px;
    padding: 10px;
  }
}
@media screen and (max-width: 500px) {
  .weatherMapBox .weather,
  .map {
    border-radius: 0;
    margin: 0;
  }
  .weatherMapBox {
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 430px) {
  .forecastBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
  }
  .forecastCard {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;

    background: rgba(2, 25, 139, 0.143);
    box-shadow: 0 8px 32px 0 rgba(1, 18, 255, 0.112);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    min-width: 100px;
    padding: 10px;
  }
}
