.navbar {
  background-color: rgb(225, 225, 255);
  padding: 15px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.navbar .saved {
  position: relative;
  display: flex;
  gap: 10px;
}
.navbar .userSettings {
  position: relative;
}
.navbar .account {
  display: flex;
  gap: 10px;
}
.navbar .input {
  background-color: white;
  border-radius: 50px;
  display: flex;
  border: 1px solid #1976d2;
}
.navbar .input input {
  padding: 10px 20px;
  outline: none;
  border: none;
  min-width: 300px;
  border-radius: 50px;
  font-size: 18px;
  text-transform: capitalize;
}

.navbar .menu {
  display: none;
}
.navbar .panel {
  min-width: 300px;
  padding: 15px;
  background-color: #198bfd;
  position: absolute;
  top: 50px;
  border-radius: 10px;
  color: white;
}
.navbar .savedPanel {
  left: 15px;
}
.navbar .favPanel {
  left: 65px;
}
.navbar .accPanel {
  min-width: 200px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.navbar .toggles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar .panel .location {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .panel .location .loc:hover {
  text-decoration: underline;
}
.toogleBox {
  justify-content: center;
  display: flex;
}
.mode {
  background-color: rgb(189, 216, 254);
  border-radius: 50px;
}
.logout {
  cursor: pointer;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  background-color: transparent;
}
.logout:hover {
  background-color: white;
  color: #198bfd;
  transition: 0.5s;
}
@media screen and (max-width: 750px) {
  .navbar .saved,
  .navbar .account {
    display: none;
  }
  .navbar .menu {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .navbar {
    padding: 10px 5px;
    border-radius: 0;
  }
  .navbar .input input {
    min-width: 200px;
  }
}
